{% extends "base.html" %} {% block title %}Poggers - Home{% endblock %} {% block content %}
<!-- Memanggil pesan dari flask  -->
{% with messages = get_flashed_messages(with_categories=True) %} {% if messages %} {% for category, message in messages %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>
{% if category == "error" %}
<div class="alert alert-danger d-flex align-items-center shadow" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
  <div>
    {{messages}}
    <button type="button" class="btn-close me" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% else %}
<div class="alert alert-success d-flex align-items-center shadow" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
  <div>
    {{ message }}
    <button type="button" class="btn-close me" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}
<div class="d-flex justify-content-center">
  <div class="col-sm-8">
    <div class="card rounded-start border border-dark card-post mb-5">
      <div class="card-header bg-info border-dark text-center text-white"><strong>={ Make a Post }=</strong></div>
      <div class="card-body border">
        <form method="POST" action="/create-post">
          <div class="d-flex justify-content-between align-item-center">
            <div class="col-sm-10">
              <textarea class="form-control rounded-pill" placeholder="What's on your mind dude ?" id="post" name="post" rows="2" required></textarea>
            </div>
            <div class="col-sm-2 ms-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle text-info" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
            </div>
          </div>
          <hr class="border border-2 border-dark" />
          <div class="row">
            <div class="col-sm-10 mb-2">
              <input class="form-control form-control-sm mb-2 rounded-pill bg-secondary text-white" id="formFileSm" type="file" />
            </div>
            <div class="col-sm-2"><button type="submit" class="btn btn-outline-info rounded-pill">Post</button></div>
          </div>
        </form>
      </div>
    </div>

    {% for post in posts %}
    <div class="card rounded-start border border-dark mb-3">
      <div class="card-header bg-warning border-dark text-left text-white d-flex justify-content-between align-item-center">
        <strong
          ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg>
          <a href="/posts/{{post.user.name}}" class="text-light">{{post.user.name}}</a></strong
        >

        {% if user.id == post.author %}
        <div class="dropdown">
          <button class="btn dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/edit-post/{{post.id}}">Edit</a></li>
            <li><a class="dropdown-item" href="/delete-post/{{post.id}}">Delete</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        <p class="card-text">{{post.post}}</p>
        <hr class="border border-2 border-dark" />
        {% for comment in post.comments %}
        <h6 class="card-subtitle mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg>
          {{comment.user.name}}
        </h6>
        <div class="d-flex justify-content-between align-item-center">
          <p class="card-text">{{comment.text}}</p>
          <p class="card-text text-muted">{{comment.date_created}}</p>
        </div>
        <hr />
        {% endfor %}
        <form method="POST" action="/create-comment/{{post.id}}" class="d-flex justify-content-between align-item-center">
          <div class="col-sm-11">
            <input type="text" class="form-control rounded-pill" id="text" name="text" placeholder="Comment..." />
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-primary rounded-circle ms-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-symmetry-horizontal" viewBox="0 0 16 16">
                <path d="M13.5 7a.5.5 0 0 0 .24-.939l-11-6A.5.5 0 0 0 2 .5v6a.5.5 0 0 0 .5.5h11zm.485 2.376a.5.5 0 0 1-.246.563l-11 6A.5.5 0 0 1 2 15.5v-6a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .485.376zM11.539 10H3v4.658L11.54 10z" />
              </svg>
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted border-dark text-end">{{post.date_created}}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
