<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />

    <title>Login</title>
  </head>
  <body>
    <div class="container mt-5">
      <!-- Memanggil pesan dari flask  -->
      {% with messages = get_flashed_messages(with_categories=True) %} {% if messages %} {% for category, message in messages %}
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
      </svg>
      {% if category == "error" %}
      <div class="alert alert-danger d-flex align-items-center shadow" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
          {{messages}}
          <button type="button" class="btn-close me" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% else %}
      <div class="alert alert-success d-flex align-items-center shadow" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <div>
          {{ message }}
          <button type="button" class="btn-close me" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <div class="d-flex justify-content-center">
        <div class="col-sm-6">
          <div class="card mt-3 auth-card border border-dark rounded-end">
            <div class="card-header border-dark bg-info text-light text-center">
              <div class="d-flex justify-content-end">
                <a class="btn btn-danger" href="/home" role="button"
                  ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                  </svg>
                </a>
              </div>
              <div class="d-flex justify-content-center">
                <h5><strong>==> Login <==</strong></h5>
              </div>
            </div>
            <div class="card-body">
              <form method="POST" class="mt-3">
                <div class="mb-3 row">
                  <div class="col-sm-10">
                    <input type="email" class="form-control rounded-pill" id="email" name="email" placeholder="Your Email" required />
                  </div>
                </div>
                <div class="mb-4 row">
                  <div class="col-sm-10">
                    <input type="password" class="form-control rounded-pill" id="password" name="password" placeholder="Your Password" required />
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-dark rounded-circle" id="eye" onclick="showPassword()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path
                          d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                        />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="submit" class="btn btn-outline-info rounded-pill">Login</button>
                </div>
                <div class="d-flex justify-content-center mt-3 mb-2">
                  <a href="/register" class="text-dark">Do not have an account?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      function showPassword() {
        const x = document.getElementById("password");
        const eye = document.getElementById("eye");

        if (x.type === "password") {
          x.type = "text";
          eye.classList.remove("btn-dark");
          eye.classList.add("btn-light");
        } else {
          x.type = "password";
          eye.classList.remove("btn-light");
          eye.classList.add("btn-dark");
        }
      }
    </script>
  </body>
</html>
